<!-- Experiencias Laborales -->
<section class="cuerpo">
    <div class="d-flex justify-content-between mx-5 mt-5">
      <h3 class="ms-5 center" id="ExpLab">EXPERIENCIA LABORAL:</h3>
      <div class="card1 d-flex justify-content-end me-5">
        <img class="imgPerfilChica" src="./../assets/nico.png" alt="Perfil" />
        <div>
          <h1>Nicolás Daniel <span>Rodríguez</span></h1>
          <h2 class="ms-3">
            Fullstack Web Developer Jr ‍💻<br />
            <a class="link mt-2" href="./Contacto.html">Información de Contacto</a>
          </h2>
        </div>
      </div>
    </div>
    <div class="bordeIzq ms-5">
      <!-- Experiencia 1 -->
      <div>
        <div class="d-flex justify-content-between mx-5">
          <h4>Coordinador de los Puntos Progresar</h4>
          <p class="fechas">02/2022 - Actual</p>
        </div>
        <div class="bordeIzq mx-5 ps-4 d-flex">
          <img src="./../assets/PProgresar.svg" alt="Trabajo 1" />
          <p class="m-3">
            Estoy a cargo de la coordinación de los puntos itinerantes con
            equipos de trabajo por diversos lugares de la ciudad de Berisso
            para ayudar y asesorar en la inscripción y programas de la beca
            educativa Progresar.
          </p>
        </div>
        <a class="link me-5" href="">Ver más...</a>
      </div>
      <!-- Experiencia 2 -->
      <div>
        <div class="d-flex justify-content-between mx-5">
          <h4>Regente CFL Nº404 Berisso</h4>
          <p class="fechas">02/2019 - Actual</p>
        </div>
        <div class="bordeIzq mx-5 ps-4 d-flex">
          <img src="./../assets/CFL.svg" alt="Trabajo 2" />
          <p class="m-3">
            - 12 personas a cargo. - Coordinar las actividades de los
            trayectos formativos y cursos de organización curricular en las
            familias profesionales.
          </p>
        </div>
        <a class="link me-5" href="">Ver más...</a>
      </div>
      <!-- Experiencia 3 -->
      <div>
        <div class="d-flex justify-content-between mx-5">
          <h4>Administrativo Cat.C</h4>
          <p class="fechas">01/2016 - 03/2020</p>
        </div>
        <div class="bordeIzq mx-5 ps-4 d-flex">
          <img src="./../assets/Madeco.svg" alt="Trabajo 2" />
          <p class="m-3">
            - Cuentas corrientes, conciliación, extractos bancarios, manejo de
            caja, stock, precios, atención al público, gestoría, manejo de
            software erp, etc.
          </p>
        </div>
        <a class="link me-5" href="">Ver más...</a>
      </div>
      <a class="linkMedio" href="">Mostrar todas las experiencias...</a>
    </div>
  </section>