<!-- Experiencias Laborales -->
<section class="cuerpo mb-5">
  <div class="d-flex justify-content-between mt-3">
    <h3 class="ms-5 center fs-5" id="ExpLab">EXPERIENCIA LABORAL:</h3>
    <app-card></app-card>
  </div>
  <button
    (click)="onOpenModal(null!, 'nuevo')"
    type="button"
    class="ms-5 btn-primary"
    *ngIf="isLogged"
    title="Nuevo"
    data-bs-toggle="modal"
    data-bs-target="#nuevaExperienciaModal"
  >
    <i class="fa-solid fa-plus"></i>Nueva Experiencia
  </button>
  <ul class="bordeIzq ms-5">
    <!-- Experiencia 1 -->
    <li *ngFor="let experiencia of experiencia">
      <div class="d-flex justify-content-between mt-3 mx-3 m-auto">
        <h4 class="fs-5">{{ experiencia.titulo }}</h4>
        <p class="fechas fs-6">
          {{ experiencia.fechaInicio }} - {{ experiencia.fechaFin }}
        </p>
      </div>
      <div class="bordeIzq mx-3 mb-3 d-flex altoExp">
        <img class="imgExp ms-2" [src]="experiencia.imgExp" alt="Trabajo" />
        <p class="mx-3 fs-6 m-auto">
          {{ experiencia.descripcion }}
        </p>
      </div>
      <div
        class="d-flex flex-row-reverse me-5"
        id="eliminar-editar-experiencia"
        *ngIf="isLogged"
      >
        <button
          (click)="onOpenModal(experiencia, 'eliminar')"
          type="button"
          class="ms-5 btn-primary"
          title="borrar"
          data-bs-toggle="modal"
          data-bs-target="#eliminarExperienciaModal"
        >
          <i class="fa-solid fa-eraser">Eliminar</i>
        </button>
        <button
          (click)="onOpenModal(experiencia, 'editar')"
          type="button"
          class="ms-5 btn-primary"
          title="editar"
          data-bs-toggle="modal"
          data-bs-target="#modificarExperienciaModal"
        >
          <i class="fa-solid fa-pen">Editar</i>
        </button>
      </div>
      <!-- <a class="link me-5 fs-6" href="">Ver más...</a> -->
      <!-- Modal Nueva Experiencia -->
      <div
        class="modal fade"
        id="nuevaExperienciaModal"
        role="dialog"
        data-backdrop="static"
        data-keyboard="false"
        tabindex="-1"
        aria-labelledby="nuevaExperienciaModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content fondo">
            <div class="modal-header">
              <h5 class="modal-title" id="nuevaExperienciaModalLabel">
                Agregar Experiencia
              </h5>
              <button
                type="button"
                class="close botonMenu"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true"
                  ><img
                    class="imgX"
                    width="80%"
                    src="../../../assets/X.svg"
                    alt="X"
                /></span>
              </button>
            </div>
            <div class="modal-body">
              <form #addForm="ngForm" [formGroup]="formExp">
                <input
                  type="hidden"
                  name="id"
                  class="form-control"
                  id="id"
                  placeholder="Id"
                />
                <label for="titulo">Título</label>
                <input
                  type="text"
                  name="titulo"
                  class="form-control"
                  formControlName="titulo"
                  required
                  [ngClass]="{
                    'is-invalid': tituloF?.errors && tituloF?.touched,
                    'is-valid': !tituloF?.errors && tituloF?.touched
                  }"
                />
                <div>
                  <p
                    class="text-danger"
                    *ngIf="tituloF?.errors && tituloF?.touched"
                  >
                    Este campo debe contener menos de 50 caracteres
                  </p>
                  <p
                    class="text-danger"
                    *ngIf="tituloF?.hasError('required') && tituloF?.touched"
                  >
                    Este campo es requerido
                  </p>
                </div>
                <label for="fechaInicio">Fecha de Inicio</label>
                <input
                  type="text"
                  placeholder="mm/aaaa"
                  name="fechaInicio"
                  class="form-control"
                  formControlName="fechaInicio"
                  [ngClass]="{
                    'is-invalid': FechaInicioF?.errors && FechaInicioF?.touched,
                    'is-valid': !FechaInicioF?.errors && FechaInicioF?.touched
                  }"
                  required
                />
                <div>
                  <p
                    class="text-danger"
                    *ngIf="FechaInicioF?.errors && FechaInicioF?.touched"
                  >
                    Este campo debe contener ser una fecha con mes y año.
                  </p>
                  <p
                    class="text-danger"
                    *ngIf="
                      FechaInicioF?.hasError('required') &&
                      FechaInicioF?.touched
                    "
                  >
                    Este campo es requerido
                  </p>
                </div>
                <label for="fechaFin">Fecha de Finalización</label>
                <input
                  type="text"
                  placeholder="mm/aaaa - Actual"
                  name="fechaFin"
                  class="form-control"
                  formControlName="fechaFin"
                  [ngClass]="{
                    'is-invalid': FechaFinF?.errors && FechaFinF?.touched,
                    'is-valid': !FechaFinF?.errors && FechaFinF?.touched
                  }"
                  required
                />
                <div>
                  <p
                    class="text-danger"
                    *ngIf="
                      FechaFinF?.hasError('required') && FechaFinF?.touched
                    "
                  >
                    Este campo es requerido
                  </p>
                  <p
                    class="text-danger"
                    *ngIf="
                      FechaFinF?.errors && FechaFinF?.touched
                    "
                  >
                    Este campo debe contener ser una fecha con mes y año.
                  </p>
                </div>
                <label for="descripcion">Descripción</label>
                <textarea
                  type="text"
                  name="descripcion"
                  class="form-control"
                  rows="3"
                  formControlName="descripcion"
                  [ngClass]="{
                    'is-invalid': descripcionF?.errors && descripcionF?.touched,
                    'is-valid': !descripcionF?.errors && descripcionF?.touched
                  }"
                  required
                ></textarea>
                <div>
                  <p
                    class="text-danger"
                    *ngIf="descripcionF?.errors && descripcionF?.touched"
                  >
                    Este campo debe contener menos de 500 caracteres
                  </p>
                  <p
                    class="text-danger"
                    *ngIf="
                      descripcionF?.hasError('required') &&
                      descripcionF?.touched
                    "
                  >
                    Este campo es requerido
                  </p>
                </div>
                <label for="imgExp">Logo Empresa</label>
                <input
                  type="text"
                  name="imgExp"
                  class="form-control"
                  formControlName="imgExp"
                  [ngClass]="{
                    'is-invalid': imgExpF?.errors && imgExpF?.touched,
                    'is-valid': !imgExpF?.errors && imgExpF?.touched
                  }"
                />
                <div *ngIf="imgExpF?.errors && imgExpF?.touched">
                  <p class="text-danger">
                    Este campo debe contener menos de 100 caracteres
                  </p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    id="nueva-experiencia-modal"
                    class="btn btn-danger"
                    data-bs-dismiss="modal"
                  >
                    Cancelar
                  </button>
                  <button
                    (click)="nuevaExperiencia(addForm)"
                    [disabled]="addForm.invalid"
                    type="submit"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                  >
                    Agregar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal para Eliminar Experiencia -->
      <div
        class="modal fade"
        id="eliminarExperienciaModal"
        data-backdrop="static"
        data-keyboard="false"
        tabindex="-1"
        aria-labelledby="eliminarExperienciaModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content fondo">
            <div class="modal-header">
              <h5 class="modal-title" id="eliminarExperienciaModalLabel"></h5>
              <button
                type="button"
                class="close botonMenu"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true"
                  ><img
                    class="imgX"
                    width="80%"
                    src="../../../assets/X.svg"
                    alt="X"
                /></span>
              </button>
            </div>
            <div class="modal-body">
              <p class="fs-5">
                Esta acción eliminará la experiencia seleccionada. ¿Desea
                continuar?
              </p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-primary"
                data-bs-dismiss="modal"
              >
                No
              </button>
              <button
                (click)="eliminarExperiencia(elimExperiencia.id)"
                type="button"
                class="btn btn-danger"
                data-bs-dismiss="modal"
              >
                Sí
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal para editar Experiencia -->
      <div
        class="modal fade"
        id="modificarExperienciaModal"
        data-backdrop="static"
        data-keyboard="false"
        tabindex="-1"
        aria-labelledby="modificarExperienciaModal"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content fondo">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">
                Editar Experiencia
              </h5>
              <button
                type="button"
                class="close botonMenu"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true"
                  ><img
                    class="imgX"
                    width="80%"
                    src="../../../assets/X.svg"
                    alt="X"
                /></span>
              </button>
            </div>
            <div class="modal-body">
              <form #editForm="ngForm" [formGroup]="formExp">
                <input type="hidden" name="id" />
                <label for="titulo">Título</label>
                <input
                  type="text"
                  name="titulo"
                  class="form-control"
                  formControlName="titulo"
                  required
                  [ngClass]="{
                    'is-invalid': tituloF?.errors && tituloF?.touched,
                    'is-valid': !tituloF?.errors && tituloF?.touched
                  }"
                />
                <div>
                  <p
                    class="text-danger"
                    *ngIf="tituloF?.errors && tituloF?.touched"
                  >
                    Este campo debe contener menos de 50 caracteres
                  </p>
                  <p
                    class="text-danger"
                    *ngIf="tituloF?.hasError('required') && tituloF?.touched"
                  >
                    Este campo es requerido
                  </p>
                </div>
                <label for="fechaInicio">Fecha de Inicio</label>
                <input
                  type="text"
                  placeholder="mm/aaaa"
                  name="fechaInicio"
                  class="form-control"
                  formControlName="fechaInicio"
                  [ngClass]="{
                    'is-invalid': FechaInicioF?.errors && FechaInicioF?.touched,
                    'is-valid': !FechaInicioF?.errors && FechaInicioF?.touched
                  }"
                  required
                />
                <div>
                  <p
                    class="text-danger"
                    *ngIf="FechaInicioF?.errors && FechaInicioF?.touched"
                  >
                    Este campo debe contener ser una fecha con mes y año.
                  </p>
                  <p
                    class="text-danger"
                    *ngIf="
                      FechaInicioF?.hasError('required') &&
                      FechaInicioF?.touched
                    "
                  >
                    Este campo es requerido
                  </p>
                </div>
                <label for="fechaFin">Fecha de Finalización</label>
                <input
                  type="text"
                  placeholder="mm/aaaa - Actual"
                  name="fechaFin"
                  class="form-control"
                  formControlName="fechaFin"
                  [ngClass]="{
                    'is-invalid': FechaFinF?.errors && FechaFinF?.touched,
                    'is-valid': !FechaFinF?.errors && FechaFinF?.touched
                  }"
                  required
                />
                <div>
                  <p
                    class="text-danger"
                    *ngIf="
                      FechaFinF?.hasError('required') && FechaFinF?.touched
                    "
                  >
                    Este campo es requerido
                  </p>
                  <p
                    class="text-danger"
                    *ngIf="
                      FechaFinF?.errors && FechaFinF?.touched
                    "
                  >
                    Este campo debe contener ser una fecha con mes y año.
                  </p>
                </div>
                <label for="descripcion">Descripción</label>
                <textarea
                  type="text"
                  name="descripcion"
                  class="form-control"
                  rows="3"
                  formControlName="descripcion"
                  [ngClass]="{
                    'is-invalid': descripcionF?.errors && descripcionF?.touched,
                    'is-valid': !descripcionF?.errors && descripcionF?.touched
                  }"
                  required
                ></textarea>
                <div>
                  <p
                    class="text-danger"
                    *ngIf="descripcionF?.errors && descripcionF?.touched"
                  >
                    Este campo debe contener menos de 500 caracteres
                  </p>
                  <p
                    class="text-danger"
                    *ngIf="
                      descripcionF?.hasError('required') &&
                      descripcionF?.touched
                    "
                  >
                    Este campo es requerido
                  </p>
                </div>
                <label for="imgExp">Logo Empresa</label>
                <input
                  type="text"
                  name="imgExp"
                  class="form-control"
                  formControlName="imgExp"
                  [ngClass]="{
                    'is-invalid': imgExpF?.errors && imgExpF?.touched,
                    'is-valid': !imgExpF?.errors && imgExpF?.touched
                  }"
                />
                <div *ngIf="imgExpF?.errors && imgExpF?.touched">
                  <p class="text-danger">
                    Este campo debe contener menos de 100 caracteres
                  </p>
                </div>
                <br />
                <div class="modal-footer">
                  <button
                    id="modificar-experiencia-modal"
                    type="button"
                    class="btn btn-danger"
                    data-bs-dismiss="modal"
                  >
                    Cancelar
                  </button>
                  <button
                    (click)="
                      modificarExperiencia(editExperiencia.id, editForm.value)
                    "
                    type="button"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                  >
                    Guardar cambios
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </li>
    <!-- <a class="linkMedio fs-6" href="">Mostrar todas las experiencias...</a> -->
  </ul>
</section>
