<!-- Experiencias Laborales -->
<section class="cuerpo mb-5">
    <div class="d-flex justify-content-between mt-3">
      <h3 class="ms-5 center fs-5" id="ExpLab">EXPERIENCIA LABORAL:</h3>
      <app-card></app-card>
    </div>
    <ul class="bordeIzq ms-5">
      <!-- Experiencia 1 -->
      <li *ngFor="let experiencia of expList">
        <div class="d-flex justify-content-between mt-3 mx-3 m-auto">
          <h4 class="fs-5">{{experiencia.titulo}}</h4>
          <p class="fechas fs-6">{{experiencia.fechaStart}} - {{experiencia.fechaEnd}}</p>
        </div>
        <div class="bordeIzq mx-3 mb-3 d-flex altoExp">
          <img class="imgExp ms-2"[src]="experiencia.imgExp" alt="Trabajo" />
          <p class="mx-3 fs-6 m-auto">
            {{experiencia.descripcion}}
          </p>
        </div>
        <!-- <a class="link me-5 fs-6" href="">Ver más...</a> -->
      </li>
      <!-- <a class="linkMedio fs-6" href="">Mostrar todas las experiencias...</a> -->
    </ul>
  </section>

  