.tamR {
    width: 25%;
    height:25%;
}
@keyframes growProgressBar {
    0%, 33% { --pgPercentage: 0; }
    100% { --pgPercentage: var(--value); }
  }
  
  @property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
  }
  
  div[role="progressbar"] {
    --size: 4.5rem;
    --fg: #FF7120;
    --bg: #5c280a;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
      radial-gradient(closest-side, #313131 80%, transparent 0 99.9%, #313131),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
      ;
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 4);
    font-weight: 600;
    color: white;
  }
  
  div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
  }
  
  /* demo */
  body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .fondo{
    background: linear-gradient(180deg, #000000 0%, #313131 100%);
    border: 3px solid #FF7120;
    border-radius: 35px;
  }
  
  .botonMenu {
    background-color: transparent;
    border: none;
  }
  
  .imgX:hover,
  .imgX:focus {
    background: #FF7120;
    border-radius: 100%;
    cursor: pointer;
  }
  input{
    background:#D8D8D8;
  }
