<div class="" *ngIf="modalContact == true">
  <app-contacto></app-contacto>
</div>

<section *ngFor="let persona of personas" >
  <img *ngFor="let imgPortada of imgPortada"
    class="imgPortada bordeInf"
    [src]="imgPortada.imgPortada"
    alt="Imágen de Portada"
  />

  <!-- Boton Editar Imagen de Portada -->
  <div class="d-flex flex-row-reverse me-5" id="editar-imgportada" *ngIf="isLogged">
    <button
    *ngFor="let ImgPortada of imgPortada"
      (click)="onOpenModalImgPortada(ImgPortada, 'editar')"
      type="button"
      class="ms-5 btn btn-primary mt-2"
      title="editar"
      data-bs-toggle="modal"
      data-bs-target="#modificarImgPortadaModal"
    >
      <i class="fa-solid fa-pen">Editar Portada</i>
    </button>
  </div>

    <!-- Acerca de -->
    <div class="cuerpo">
      <div class="d-flex justify-content-between mx-5 mt-4 mb-3">
        <!-- Data binding property binding [propiedad ej. class, src]="bbdd.imgPerfil" -->
        <img *ngFor="let ImgPerfil of imgPerfil"
        class="imgPerfil" [src]="ImgPerfil.imgPerfil" alt="Perfil" />
        <div>
        <div>
          <h2 class="fs-5">
            {{ persona.ocupacionCorta }}
          </h2>
          <h2 class="fs-6">
            {{ persona.ocupacion }}
          </h2>
        </div>
        <p class="link m-2 fs-6 pContact" (click)="openContact()">
          Información de Contacto
        </p>
      </div>
      </div>

      <!-- Button Editar Imagen de Perfil -->
      <div id="editar-imgPerfil" *ngIf="isLogged">
        <button *ngFor="let ImgPerfil of imgPerfil"
          (click)="onOpenModalImgPerfil(ImgPerfil, 'editar')"
          type="button"
          class="ms-5 btn btn-primary fs-6 mb-2"
          title="editar"
          data-bs-toggle="modal"
          data-bs-target="#modificarImgPerfilModal"
        >
          <i class="fa-solid fa-pen">Editar Foto de Perfil</i>
        </button>
      </div>

    </div>
    <!-- Data binding interpolacion {{}} solo sirve para valores de cadena -->
    <h1 class="ms-5 fs-4 my-2">
      {{ persona.nombre }} <span>{{ persona.apellido }}</span>
    </h1>

    <!-- Button Editar Nombre y Apellido  + id-->
    <div id="editar-persona" *ngIf="isLogged">
      <button
        (click)="onOpenModal(persona, 'editar')"
        type="button"
        class="ms-5 btn-primary"
        title="editar"
        data-bs-toggle="modal"
        data-bs-target="#modificarPersonaModal"
      >
        <i class="fa-solid fa-pen">Editar Datos Personales</i>
      </button>
    </div>

    <h3 class="mt-4 mx-5 fs-5"><span class="">ACERCA DE:</span></h3>
    <div *ngFor="let acercade of acercaDe" class="bordeIzq mx-5 my-3 mb-4">
      <p class="fs-6 ms-3">
        {{ acercade.acercaDe }}
      </p>
    </div>
     <!-- Button Editar Acerca De -->
     <div class="d-flex flex-row-reverse me-5 mb-5" id="editar-acercade" *ngIf="isLogged">
      <button *ngFor="let AcercaDe of acercaDe"
        (click)="onOpenModalAcercaDe(AcercaDe, 'editar')"
        type="button"
        class="ms-5 btn-primary"
        title="editar"
        data-bs-toggle="modal"
        data-bs-target="#modificarAcercaDeModal"
      >
        <i class="fa-solid fa-pen">Editar</i>
      </button>

  </div>
    <!-- <a class="link mx-5 fs-6" href="">Ver más...</a> -->
  

  <!-- Modal para editar Persona -->
  <div
  class="modal fade mt-5"
  id="modificarPersonaModal"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="modificarPersonaModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content fondo">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          Editar
        </h5>
        <button
          type="button"
          class="close botonMenu"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"><img class="imgX" width="80%" src="../../../assets/X.svg" alt="X"></span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <input type="hidden" name="id" ngModel="{{ persona.id }} " />
          <label for="nombre">Nombre</label><br />
          <input
            ngModel="{{ persona.nombre }}"
            type="text"
            name="nombre"
            class="form-control"
          />
          <label for="apellido">Apellido</label><br />
          <input
            ngModel="{{ persona.apellido }}"
            type="text"
            name="apellido"
            class="form-control"
          />
          <label for="pais">País</label><br />
          <input
            ngModel="{{ persona.pais }}"
            type="text"
            name="pais"
            class="form-control"
          />
          <label for="telefono">Teléfono</label><br />
          <input
            ngModel="{{ persona.telefono }}"
            type="text"
            name="telefono"
            class="form-control"
          />
          <label for="email">Email</label><br />
          <input
            ngModel="{{ persona.email }}"
            type="text"
            name="email"
            class="form-control"
          />
          <label for="instagram">Instagram</label><br />
          <input
            ngModel="{{ persona.instagram }}"
            type="text"
            name="instagram"
            class="form-control"
          />
          <label for="github">Github</label><br />
          <input
            ngModel="{{ persona.github }}"
            type="text"
            name="github"
            class="form-control"
          />
          <label for="linkedin">Linkedin</label><br />
          <input
            ngModel="{{ persona.linkedin }}"
            type="text"
            name="linkedin"
            class="form-control"
          />
          <label for="ocupacionCorta">Ocupacion Principal</label><br />
          <input
            ngModel="{{ persona.ocupacionCorta }}"
            type="text"
            name="ocupacionCorta"
            class="form-control"
          />
          <label for="ocupacion">Otros Cargos</label><br />
          <input
            ngModel="{{ persona.ocupacion }}"
            type="text"
            name="ocupacion"
            class="form-control"
          />
          <br />
          <div class="modal-footer">
            <button
              id="modificar-persona-modal"
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <button
              (click)="modificarPersona(editPersona.id, editForm.value)"
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              Guardar cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

 <!-- Modal para editar AcercaDe -->
 <div
 *ngFor="let AcercaDe of acercaDe"
 class="modal fade mt-5"
 id="modificarAcercaDeModal"
 data-backdrop="static"
 data-keyboard="false"
 tabindex="-1"
 aria-labelledby="modificarAcercaDeModal"
 aria-hidden="true"
>
 <div class="modal-dialog">
   <div class="modal-content fondo">
     <div class="modal-header">
       <h5 class="modal-title" id="staticBackdropLabel">
         Editar
       </h5>
       <button
         type="button"
         class="close botonMenu"
         data-bs-dismiss="modal"
         aria-label="Close"
       >
         <span aria-hidden="true"><img class="imgX" width="80%" src="../../../assets/X.svg" alt="X"></span>
       </button>
     </div>
     <div class="modal-body">
       <form #editForm="ngForm">
         <input type="hidden" name="id" ngModel="{{ AcercaDe.id }} " />
         <label for="acercaDe">Acerca De</label><br />
         <textarea
           ngModel="{{ AcercaDe.acercaDe }}"
           type="text"
           name="acercaDe"
           class="form-control"
           rows="5"
         ></textarea>
         <br />
         <div class="modal-footer">
           <button
             id="modificar-acercade-modal"
             type="button"
             class="btn btn-danger"
             data-bs-dismiss="modal"
           >
             Cancelar
           </button>
           <button
             (click)="modificarAcercaDe(editAcercaDe.id, editForm.value)"
             type="button"
             class="btn btn-primary"
             data-bs-dismiss="modal"
           >
             Guardar cambios
           </button>
         </div>
       </form>
     </div>
   </div>
 </div>
</div>

 <!-- Modal para editar ImgPerfil -->
 <div
 *ngFor="let ImgPerfil of imgPerfil"
 class="modal fade mt-5"
 id="modificarImgPerfilModal"
 data-backdrop="static"
 data-keyboard="false"
 tabindex="-1"
 aria-labelledby="modificarImgPerfilModal"
 aria-hidden="true"
>
 <div class="modal-dialog">
   <div class="modal-content fondo">
     <div class="modal-header">
       <h5 class="modal-title" id="staticBackdropLabel">
         Editar
       </h5>
       <button
         type="button"
         class="close botonMenu"
         data-bs-dismiss="modal"
         aria-label="Close"
       >
         <span aria-hidden="true"><img class="imgX" width="80%" src="../../../assets/X.svg" alt="X"></span>
       </button>
     </div>
     <div class="modal-body">
       <form #editForm="ngForm">
         <input type="hidden" name="id" ngModel="{{ ImgPerfil.id }} " />
           <label for="imgPerfil">Imágen de Perfil</label><br />
           <input
             ngModel="{{ ImgPerfil.imgPerfil }}"
             type="text"
             name="imgPerfil"
             class="form-control"
           />
         <br />
         <div class="modal-footer">
           <button
             id="modificar-imgperfil-modal"
             type="button"
             class="btn btn-danger"
             data-bs-dismiss="modal"
           >
             Cancelar
           </button>
           <button
             (click)="modificarImgPerfil(editImgPerfil.id, editForm.value)"
             type="button"
             class="btn btn-primary"
             data-bs-dismiss="modal"
           >
             Guardar cambios
           </button>
         </div>
       </form>
     </div>
   </div>
 </div>
</div>

 <!-- Modal para editar ImgPortada -->
 <div
 *ngFor="let ImgPortada of imgPortada"
 class="modal fade mt-5"
 id="modificarImgPortadaModal"
 data-backdrop="static"
 data-keyboard="false"
 tabindex="-1"
 aria-labelledby="modificarImgPortadaModal"
 aria-hidden="true"
>
 <div class="modal-dialog">
   <div class="modal-content fondo">
     <div class="modal-header">
       <h5 class="modal-title" id="staticBackdropLabel">
         Editar
       </h5>
       <button
         type="button"
         class="close botonMenu"
         data-bs-dismiss="modal"
         aria-label="Close"
       >
         <span aria-hidden="true"><img class="imgX" width="80%" src="../../../assets/X.svg" alt="X"></span>
       </button>
     </div>
     <div class="modal-body">
       <form #editForm="ngForm">
         <input type="hidden" name="id" ngModel="{{ ImgPortada.id }} " />
           <label for="imgPortada">Imágen de Portada</label><br />
           <input
             ngModel="{{ ImgPortada.imgPortada }}"
             type="text"
             name="imgPortada"
             class="form-control"
           />
         <br />
         <div class="modal-footer">
           <button
             id="modificar-imgportada-modal"
             type="button"
             class="btn btn-danger"
             data-bs-dismiss="modal"
           >
             Cancelar
           </button>
           <button
             (click)="modificarImgPortada(editImgPortada.id, editForm.value)"
             type="button"
             class="btn btn-primary"
             data-bs-dismiss="modal"
           >
             Guardar cambios
           </button>
         </div>
       </form>
     </div>
   </div>
 </div>
</div>
</section>
