<!-- Proyectos -->
<section class="cuerpo mb-5">
  <div class="d-flex justify-content-between mx-5 mt-3">
    <h3 class="mx-5 center fs-5" id="Proy">PROYECTOS:</h3>
    <app-card></app-card>
  </div>
  <div class="ms-5 mb-3">
    <button
      (click)="onOpenModal(null!, 'nuevo')"
      type="button"
      class="ms-5 btn-primary"
      *ngIf="isLogged"
      title="Nuevo"
      data-bs-toggle="modal"
      data-bs-target="#nuevoProyectoModal"
    >
      <i class="fa-solid fa-plus"></i>Nuevo Proyecto
    </button>
  </div>
  <!-- Proyecto -->
  <ul>
    <li
      *ngFor="let proyecto of proyectos"
      class="puntos bordeImg cardProyect anchoCard mx-5 mb-4"
      [id]="proyecto.id"
    >
      <div class="d-flex justify-content-center">
        <img class="tamR ms-5" [src]="proyecto.logoProy" alt="LogoEmpresa" />
        <h4 class="m-5 fs-4">
          {{ proyecto.titulo }}
        </h4>
      </div>
      <p class="mt-3 mx-5 fs-6">
        {{ proyecto.descripcion }}
      </p>
      <img
        class="d-block m-auto tamImg my-3"
        [src]="proyecto.imgDemo"
        alt="Imagen de Proyecto"
      />
      <button class="button">
        <a class="fs-6" [href]="proyecto.link">Ver Proyecto...</a>
      </button>
      <div
        class="my-3 d-flex flex-row-reverse"
        id="eliminar-editar-proyecto"
        *ngIf="isLogged"
      >
        <button
          (click)="onOpenModal(proyecto, 'eliminar')"
          type="button"
          class="ms-5 btn-primary"
          title="borrar"
          data-bs-toggle="modal"
          data-bs-target="#eliminarProyectoModal"
        >
          <i class="fa-solid fa-eraser">Eliminar</i>
        </button>
        <button
          (click)="onOpenModal(proyecto, 'editar')"
          type="button"
          class="ms-5 btn-primary"
          title="editar"
          data-bs-toggle="modal"
          data-bs-target="#modificarProyectoModal"
        >
          <i class="fa-solid fa-pen">Editar</i>
        </button>
      </div>
    </li>
  </ul>

  <!-- Modal Nuevo Proyecto -->
  <div
    class="modal fade"
    id="nuevoProyectoModal"
    role="dialog"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    aria-labelledby="nuevoProyectoModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content fondo">
        <div class="modal-header">
          <h5 class="modal-title" id="nuevoProyectoModalLabel">
            Agregar Proyecto
          </h5>
          <button
            type="button"
            class="close botonMenu"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true"
              ><img
                class="imgX"
                width="80%"
                src="../../../assets/X.svg"
                alt="X"
            /></span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" [formGroup]="formProy">
            <input type="hidden" name="id" class="form-control" id="id" />
            <label for="titulo">Título</label>
            <input
              type="text"
              name="titulo"
              class="form-control"
              formControlName="titulo"
              required
              [ngClass]="{
                'is-invalid': tituloF?.errors && tituloF?.touched,
                'is-valid': !tituloF?.errors && tituloF?.touched
              }"
            />
            <div>
              <p
                class="text-danger"
                *ngIf="tituloF?.errors && tituloF?.touched"
              >
                Este campo debe contener menos de 50 caracteres
              </p>
              <p
                class="text-danger"
                *ngIf="tituloF?.hasError('required') && tituloF?.touched"
              >
                Este campo es requerido
              </p>
            </div>
            <label for="descripcion">Descripcion </label>
            <textarea
              type="text"
              name="descripcion"
              class="form-control"
              required
              rows="5"
              formControlName="descripcion"
              [ngClass]="{
                'is-invalid': descripcionF?.errors && descripcionF?.touched,
                'is-valid': !descripcionF?.errors && descripcionF?.touched
              }"
            ></textarea>
            <div>
              <p
                class="text-danger"
                *ngIf="descripcionF?.errors && descripcionF?.touched"
              >
                Este campo debe contener menos de 1500 caracteres
              </p>
              <p
                class="text-danger"
                *ngIf="
                  descripcionF?.hasError('required') && descripcionF?.touched
                "
              >
                Este campo es requerido
              </p>
            </div>
            <label for="logoProy">Logo Proyecto</label>
            <input
              type="text"
              name="logoProy"
              class="form-control"
              formControlName="logoProy"
              [ngClass]="{
                'is-invalid': logoProyF?.errors && logoProyF?.touched,
                'is-valid': !logoProyF?.errors && logoProyF?.touched
              }"
            />
            <div *ngIf="logoProyF?.errors && logoProyF?.touched">
              <p class="text-danger">
                Este campo debe contener menos de 100 caracteres
              </p>
            </div>
            <label for="link">Link</label>
            <input
              type="text"
              name="link"
              class="form-control"
              required
              formControlName="link"
              [ngClass]="{
                'is-invalid': linkF?.errors && linkF?.touched,
                'is-valid': !linkF?.errors && linkF?.touched
              }"
            />
            <div *ngIf="linkF?.errors && linkF?.touched">
              <p class="text-danger">
                Este campo debe contener menos de 100 caracteres
              </p>
            </div>
            <label hidden for="num">Numero</label>
            <input type="hidden" name="num" class="form-control" />
            <label for="imgDemo">Imagén Ilustrativa del Proyecto</label>
            <input
              type="text"
              name="imgDemo"
              class="form-control"
              formControlName="imgDemo"
              [ngClass]="{
                'is-invalid': imgDemoF?.errors && imgDemoF?.touched,
                'is-valid': !imgDemoF?.errors && imgDemoF?.touched
              }"
            />
            <div *ngIf="imgDemoF?.errors && imgDemoF?.touched">
              <p class="text-danger">
                Este campo debe contener menos de 100 caracteres
              </p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                id="nuevo-proyecto-modal"
                class="btn btn-danger"
                data-bs-dismiss="modal"
              >
                Cancelar
              </button>
              <button
                (click)="nuevoProyecto(addForm)"
                [disabled]="addForm.invalid"
                type="submit"
                class="btn btn-primary"
                data-bs-dismiss="modal"
              >
                Agregar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para Eliminar Proyecto -->
  <div
    *ngFor="let proyecto of proyectos"
    class="modal fade"
    id="eliminarProyectoModal"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    aria-labelledby="eliminarProyectoModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content fondo">
        <div class="modal-header">
          <h5 class="modal-title" id="eliminarProyectoModalLabel"></h5>
          <button
            type="button"
            class="close botonMenu"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true"
              ><img
                class="imgX"
                width="80%"
                src="../../../assets/X.svg"
                alt="X"
            /></span>
          </button>
        </div>
        <div class="modal-body">
          <p class="fs-5">
            Esta acción eliminará el proyecto seleccionado. ¿Desea continuar?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
            No
          </button>
          <button
            (click)="eliminarProyecto(elimProyecto.id)"
            type="button"
            class="btn btn-danger"
            data-bs-dismiss="modal"
          >
            Sí
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para editar Proyecto -->
  <div
    *ngFor="let proyecto of proyectos"
    class="modal fade"
    id="modificarProyectoModal"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    aria-labelledby="modificarProyectoModal"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content fondo">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Editar Proyecto</h5>
          <button
            type="button"
            class="close botonMenu"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true"
              ><img
                class="imgX"
                width="80%"
                src="../../../assets/X.svg"
                alt="X"
            /></span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm" [formGroup]="formProy">
            <input type="hidden" name="id" />
            <label for="titulo">Título</label>
            <input
              type="text"
              name="titulo"
              class="form-control"
              formControlName="titulo"
              required
              [ngClass]="{
                'is-invalid': tituloF?.errors && tituloF?.touched,
                'is-valid': !tituloF?.errors && tituloF?.touched
              }"
            />
            <div>
              <p
                class="text-danger"
                *ngIf="tituloF?.errors && tituloF?.touched"
              >
                Este campo debe contener menos de 50 caracteres
              </p>
              <p
                class="text-danger"
                *ngIf="tituloF?.hasError('required') && tituloF?.touched"
              >
                Este campo es requerido
              </p>
            </div>
            <label for="descripcion">Descripcion </label>
            <textarea
              type="text"
              name="descripcion"
              class="form-control"
              required
              rows="5"
              formControlName="descripcion"
              [ngClass]="{
                'is-invalid': descripcionF?.errors && descripcionF?.touched,
                'is-valid': !descripcionF?.errors && descripcionF?.touched
              }"
            ></textarea>
            <div>
              <p
                class="text-danger"
                *ngIf="descripcionF?.errors && descripcionF?.touched"
              >
                Este campo debe contener menos de 1500 caracteres
              </p>
              <p
                class="text-danger"
                *ngIf="
                  descripcionF?.hasError('required') && descripcionF?.touched
                "
              >
                Este campo es requerido
              </p>
            </div>
            <label for="logoProy">Logo Proyecto</label>
            <input
              type="text"
              name="logoProy"
              class="form-control"
              formControlName="logoProy"
              [ngClass]="{
                'is-invalid': logoProyF?.errors && logoProyF?.touched,
                'is-valid': !logoProyF?.errors && logoProyF?.touched
              }"
            />
            <div *ngIf="logoProyF?.errors && logoProyF?.touched">
              <p class="text-danger">
                Este campo debe contener menos de 100 caracteres
              </p>
            </div>
            <label for="link">Link</label>
            <input
              type="text"
              name="link"
              class="form-control"
              required
              formControlName="link"
              [ngClass]="{
                'is-invalid': linkF?.errors && linkF?.touched,
                'is-valid': !linkF?.errors && linkF?.touched
              }"
            />
            <div *ngIf="linkF?.errors && linkF?.touched">
              <p class="text-danger">
                Este campo debe contener menos de 100 caracteres
              </p>
            </div>
            <label hidden for="num">Numero</label>
            <input type="hidden" name="num" class="form-control" />
            <label for="imgDemo">Imagén Ilustrativa del Proyecto</label>
            <input
              type="text"
              name="imgDemo"
              class="form-control"
              formControlName="imgDemo"
              [ngClass]="{
                'is-invalid': imgDemoF?.errors && imgDemoF?.touched,
                'is-valid': !imgDemoF?.errors && imgDemoF?.touched
              }"
            />
            <div *ngIf="imgDemoF?.errors && imgDemoF?.touched">
              <p class="text-danger">
                Este campo debe contener menos de 100 caracteres
              </p>
            </div>
            <br />
            <div class="modal-footer">
              <button
                id="modificar-proyecto-modal"
                type="button"
                class="btn btn-danger"
                data-bs-dismiss="modal"
              >
                Cancelar
              </button>
              <button
                (click)="modificarProyecto(editProyecto.id, editForm.value)"
                type="button"
                class="btn btn-primary"
                data-bs-dismiss="modal"
              >
                Guardar cambios
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
