      <!-- Proyectos -->
      <section class="cuerpo">
        <div class="d-flex justify-content-between mx-5 mt-3">
          <h3 class="ms-5 center fs-5" id="Proy">PROYECTOS:</h3>
          <app-card></app-card>
        </div>

        <!-- Proyecto -->
        <ul>
          <li *ngFor="let proyecto of proyList" class="puntos bordeImg cardProyect anchoCard mx-5" [id]="proyecto.id">
            <div class="d-flex justify-content-center">
              <img class="tamR ms-5" [src]="proyecto.imgProy" alt="LogoEmpresa" />
              <h4 class="m-5 fs-4" >
                {{proyecto.titulo}}
              </h4>
            </div>
            <p class="mt-3 mx-5 fs-6">
              {{proyecto.descripcion}}
            </p>
            <button class="button">
              <a class="fs-6" [href]="proyecto.link">Ver Proyecto...</a>
            </button>
          </li>
        </ul>
       
        </section>
        <!-- Menu de proyectos-->
        <div class="d-flex justify-content-center m-5">
          <a class="mx-5 menuProyect" href="#Proy1"></a>
          <a class="mx-5 menuProyect" href="#Proy2"></a>
          <a class="mx-5 menuProyect" href="#Proy3"></a>
          <a class="mx-5 menuProyect" href="#Proy4"></a>
        </div>