      <!-- Proyectos -->
      <section class="cuerpo">
        <div class="d-flex justify-content-between mx-5 mt-5">
          <h3 class="ms-5 center" id="Proy">PROYECTOS:</h3>
          <div class="card1 d-flex justify-content-end me-5">
            <img class="imgPerfilChica" src="./../assets/nico.png" alt="Perfil" />
            <div>
              <h1>Nicolás Daniel <span>Rodríguez</span></h1>
              <h2 class="ms-3">
                Fullstack Web Developer Jr ‍💻<br />
                <a class="link mt-2" href="./Contacto.html">Información de Contacto</a>
              </h2>
            </div>
          </div>
        </div>

        <!-- Proyecto 1-->
        <div class="bordeImg cardProyect anchoCard mx-5 mt-5" id="Proy1">
          <div class="d-flex justify-content-center">
            <img src="./../assets/LogoEscuela.svg" alt="LogoEscuela" />
            <h4 class="m-5 fs-1" >
              Página Web para Escuela de Educación Secundaria Técnica NºX - La
              Plata
            </h4>
          </div>
          <p class="mt-5 mx-5">
            Este proyecto nació con la intención de mejorar la presencia digital
            que tenia el establecimiento. Aun esta en proceso de finalización. Soy
            egresado de la institución y teniendo algo de conocimiento web me
            acerque a la escuela para ofrecerles este diseño por el afecto que
            tengo hacia ella. Cuando finalice colocare el vinculo correspondiente.
            <br /><br />
            En cuanto a las capacidades utilizadas para la creación de la misma,
            cabe destacar que en ese momento de realizar el trabajo no contaba con
            el suficiente conocimiento para desarrollarla con codificación por lo
            que utilice el editor de paginas de google.
          </p>
          <button class="mt-5 button">
            <a href="./Proyectos/Escuela.html">Ver Proyecto...</a>
          </button>
        </div>

        <!-- Proyecto 2-->
        <div class="bordeImg cardProyect anchoCard mx-5 mt-5" id="Proy2">
          <div class="d-flex justify-content-center">
            <img src="./../assets/LogoConlara.svg" alt="LogoConlara" />
            <h4 class="m-5 fs-1" >
              Página Web - Diseño de Logo, tarjetas y membretes
            </h4>
          </div>
          <p class="mt-5 mx-5">
            Este proyecto nació de la necesidad de una empresa de tener una
            identidad visual y web para captar mas clientes y verse mas
            profesional para la cartera que ya estaban manejando. Se realizó los
            logos, tarjetas y membretes con adobe Illustrator y photoshop. Tambien
            se registro la empresa en google para que aparezca en las busquedas y
            se realizó una web sencilla con wix.
          </p>
          <button class="mt-5 button">
            <a href="./Proyectos/Conlara.html">Ver Proyecto...</a>
          </button>
        </div>

        <!-- Proyecto 3-->
        <div class="bordeImg cardProyect anchoCard mx-5 mt-5" id="Proy3">
          <div class="d-flex justify-content-center">
            <img src="./../assets/LogoCelebrity.svg" alt="LogoCelebrity" />
              <h4 class="m-5 fs-1" >
                Página Web - Diseño de Logo, mejora de personajes...
              </h4>
          </div>
          <p class="mt-5 mx-5">
            Este proyecto nació con el objetivo de realizar un juego NFT de
            penales con personajes famosos. Me encargue del diseño de la página
            junto a mi socio, animaciones, videos, infografia, mejora de
            personajes, logo y detalles varios.
          </p>
          <button class="mt-5 button">
            <a href="./Proyectos/Celebrity.html">Ver Proyecto...</a>
          </button>
        </div>

        <!-- Proyecto 4-->
        <div class="bordeImg cardProyect anchoCard mx-5 mt-5" id="Proy4">
          <div class="d-flex justify-content-center">
            <img src="./../assets/LogoCFL.svg" alt="LogoCFL" />
              <h4 class="m-5 fs-1">
                Diseño de Logo, imágenes y videos - Centro de Formación Laboral
                Nº404 Berisso
              </h4>
          </div>
          <p class="mt-5 mx-5">
            Realice el logo de esta institución con Illustrator y photoshop,
            como la edición de videos e imagenes institucionales, presentaciones
            de trabajo y colaboración en el desarrollo de la página web.
          </p>
          <button class="mt-5 button">
            <a href="./Proyectos/CFL.html">Ver Proyecto...</a>
          </button>
        </div>
       
        </section>
        <!-- Menu de proyectos-->
        <div class="d-flex justify-content-center m-5">
          <a class="mx-5 menuProyect" href="#Proy1"></a>
          <a class="mx-5 menuProyect" href="#Proy2"></a>
          <a class="mx-5 menuProyect" href="#Proy3"></a>
          <a class="mx-5 menuProyect" href="#Proy4"></a>
        </div>