<div class="cuerpoContact" *ngFor="let persona of personas">
  <div class="container">
    <p class="x" (click)="closeContact()">
      <img class="imgX" src="./../../../assets/X.svg" alt="Exit" />
    </p>
    <img class="mt-3 mb-3 imgPerfil" [src]="persona.imgPerfil" alt="Perfil" />
    <h1 class="fs-5">
      {{ persona.nombre }} <span>{{ persona.apellido }}</span>
    </h1>
    <div class="centrarContact">
      <p class="fs-6 m-auto">{{ persona.pais }}</p>
      <p class="fs-6 m-auto">{{ persona.telefono }}</p>
      <p class="fs-6 m-auto">{{ persona.email }}</p>
    </div>
    <div class="m-3 tam">
      <a [href]="persona.github">
        <img src="./../../../assets/GitHubIcon.svg" alt="GitHub"
      /></a>
      <a [href]="persona.instagram">
        <img src="./../../../assets/InstagramIcon.svg" alt="Instagram"
      /></a>
      <a [href]="persona.linkedin">
        <img
          class="me-2"
          src="./../../../assets/LinkedinIcon.svg"
          alt="Linkedin"
      /></a>
    </div>
  </div>
</div>
