<div class="container">
    <p class="x"><a href=""><img class="imgX" src="./../Assets/X.svg" alt="Exit"></a></p>
    <img class="mt-5 mb-3 imgPerfil" src="./../Assets/nico.png" alt="Perfil">
    <h1 class="m-3">Nicolás Daniel <span>Rodríguez</span></h1>
    <p>Argentina</p>
    <p>221-559-9179</p>
    <p>ndr126@abc.gob.ar</p>
    <div class="m-5 tam">
    <a href="https://github.com/Nicolas-Daniel-Rodriguez/">
      <img src="./../Assets/GitHubIcon.svg" alt="GitHub"
    /></a>
    <a href="https://www.instagram.com/nicolas_daniel_rodriguez/">
      <img src="./../Assets/InstagramIcon.svg" alt="Instagram"
    /></a>
    <a href="https://www.linkedin.com/in/nicolas-daniel-rodriguez/">
      <img
        class="me-2"
        src="./../Assets/LinkedinIcon.svg"
        alt="Linkedin"
    /></a>
  </div>
</div>