<!-- Educación -->
<section class="cuerpo">
    <div class="d-flex justify-content-between mt-3">
      <h3 class="ms-5 center fs-5" id="Edu">EDUCACIÓN:</h3>
      <app-card></app-card>
    </div>
    <ul class="bordeIzq mx-5 ps-4">
      <!-- Educación Item -->
      <li *ngFor="let educacion of educacionList">
        <h4 class="mx-4 mt-3 fs-5">{{educacion.titulo}}</h4>
        <div class="bordeIzq mx-4 ps-4 d-flex justify-content-between">
          <div>
            <p class="fs-6 mb-1">{{educacion.lugarEstudio}}</p>
            <p class="fechas text-start fs-6 mb-1">{{educacion.fechaStart}} - {{educacion.fechaEnd}}</p>
          </div>
          <img
            class="bordeImg imgCert"
            [src]="educacion.certImg"
            alt="Certificado"
          />
        </div>
      </li>

      <a class="linkMedio mt-3 fs-6" href="">Mostrar todos los estudios...</a>
    </ul>
  </section>