<!-- Educación -->
<section class="cuerpo mb-5">
  <div class="d-flex justify-content-between mt-3">
    <h3 class="ms-5 center fs-5" id="Edu">EDUCACIÓN:</h3>
    <app-card></app-card>
  </div>
  <button
    (click)="onOpenModal(null!, 'nuevo')"
    type="button"
    class="ms-5 btn-primary"
    *ngIf="isLogged"
    title="Nuevo"
    data-bs-toggle="modal"
    data-bs-target="#nuevaEducacionModal"
  >
    <i class="fa-solid fa-plus"></i>Nueva Educacion
  </button>
  <ul class="bordeIzq mx-5 ps-4">
    <!-- Educación Item -->
    <li *ngFor="let educacion of educacion">
      <h4 class="mx-4 mt-3 fs-5">{{ educacion.titulo }}</h4>
      <div class="bordeIzq mx-4 ps-4 d-flex justify-content-between">
        <div>
          <p class="fs-6 mb-1">{{ educacion.lugarEstudio }}</p>
          <p class="fechas text-start fs-6 mb-1">
            {{ educacion.fechaInicio }} - {{ educacion.fechaFin }}
          </p>
        </div>
        <img
          class="bordeImg imgCert"
          [src]="educacion.certificado"
          alt="Certificado"
        />
      </div>
      <div id="eliminar-editar-educacion" *ngIf="isLogged">
        <button
          (click)="onOpenModal(educacion, 'editar')"
          type="button"
          class="ms-5 btn-primary"
          title="editar"
          data-bs-toggle="modal"
          data-bs-target="#modificarEducacionModal"
        >
          <i class="fa-solid fa-pen">Editar</i>
        </button>
        <button
          (click)="onOpenModal(educacion, 'eliminar')"
          type="button"
          class="ms-5 btn-primary"
          title="borrar"
          data-bs-toggle="modal"
          data-bs-target="#eliminarEducacionModal"
        >
          <i class="fa-solid fa-eraser">Eliminar</i>
        </button>
      </div>
    </li>

    <!-- <a class="linkMedio mt-3 fs-6" href="">Mostrar todos los estudios...</a> -->
  </ul>

  <!-- Modal Nueva Educacion -->
  <div
    class="modal fade"
    id="nuevaEducacionModal"
    role="dialog"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    aria-labelledby="nuevaEducacionModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content fondo">
        <div class="modal-header">
          <h5 class="modal-title" id="nuevaEducacionModalLabel">
            Agregar Educacion
          </h5>
          <button
            type="button"
            class="close botonMenu"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true"
              ><img
                class="imgX"
                width="80%"
                src="../../../assets/X.svg"
                alt="X"
            /></span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" [formGroup]="formEd">
              <input
                type="hidden"
                name="id"
                class="form-control"
                id="id"
                placeholder="Id"
              />
              <label for="titulo">Título</label>
              <input
                type="text"
                name="titulo"
                class="form-control"
                formControlName="titulo"
                required
                [ngClass]="{
                  'is-invalid': tituloF?.errors && tituloF?.touched,
                  'is-valid': !tituloF?.errors && tituloF?.touched
                }"
              />
              <div>
                <p
                  class="text-danger"
                  *ngIf="tituloF?.errors && tituloF?.touched"
                >
                  Este campo debe contener menos de 50 caracteres
                </p>
                <p
                  class="text-danger"
                  *ngIf="tituloF?.hasError('required') && tituloF?.touched"
                >
                  Este campo es requerido
                </p>
              </div>
              <label for="lugarEstudio">Lugar de estudio </label>
              <input
                type="text"
                name="lugarEstudio"
                class="form-control"
                formControlName="lugarEstudio"
                [ngClass]="{
                  'is-invalid': lugarEstudioF?.errors && lugarEstudioF?.touched,
                  'is-valid': !lugarEstudioF?.errors && lugarEstudioF?.touched
                }"
                required
              />
              <div>
                <p
                  class="text-danger"
                  *ngIf="lugarEstudioF?.errors && lugarEstudioF?.touched"
                >
                  Este campo debe contener menos de 100 caracteres
                </p>
                <p
                  class="text-danger"
                  *ngIf="
                    lugarEstudioF?.hasError('required') &&
                    lugarEstudioF?.touched
                  "
                >
                  Este campo es requerido
                </p>
              </div>
              <label for="fechaInicio">Fecha de Inicio</label>
              <input
                type="month"
                name="fechaInicio"
                class="form-control"
                formControlName="fechaInicio"
                [ngClass]="{
                  'is-invalid': FechaInicioF?.errors && FechaInicioF?.touched,
                  'is-valid': !FechaInicioF?.errors && FechaInicioF?.touched
                }"
                required
              />
              <div>
                <p
                  class="text-danger"
                  *ngIf="FechaInicioF?.errors && FechaInicioF?.touched"
                >
                  Este campo debe contener ser una fecha con mes y año.
                </p>
                <p
                  class="text-danger"
                  *ngIf="
                    FechaInicioF?.hasError('required') && FechaInicioF?.touched
                  "
                >
                  Este campo es requerido
                </p>
              </div>
              <label for="fechaFin">Fecha de Finalización</label>
              <input
                type="month"
                name="fechaFin"
                class="form-control"
                formControlName="fechaFin"
                [ngClass]="{
                  'is-invalid': FechaFinF?.errors && FechaFinF?.touched,
                  'is-valid': !FechaFinF?.errors && FechaFinF?.touched
                }"
                required
              />
              <div>
                <p
                  class="text-danger"
                  *ngIf="FechaFinF?.hasError('required') && FechaFinF?.touched"
                >
                  Este campo es requerido
                </p>
                <p
                  class="text-danger"
                  *ngIf="FechaFinF?.hasError('fechaFin') && FechaFinF?.touched"
                >
                  Este campo debe contener ser una fecha con mes y año.
                </p>
              </div>
              <label for="certificado">Certificado</label>
              <input
                type="text"
                name="certificado"
                class="form-control"
                formControlName="certificado"
                [ngClass]="{
                  'is-invalid': CertificadoF?.errors && CertificadoF?.touched,
                  'is-valid': !CertificadoF?.errors && CertificadoF?.touched
                }"
              />
              <div *ngIf="CertificadoF?.errors && CertificadoF?.touched">
                <p class="text-danger">
                  Este campo debe contener menos de 100 caracteres
                </p>
              </div>
            <div class="modal-footer">
              <button
                type="button"
                id="nueva-educacion-modal"
                class="btn btn-danger"
                data-bs-dismiss="modal"
              >
                Cancelar
              </button>
              <button
                (click)="nuevaEducacion(addForm)"
                [disabled]="addForm.invalid"
                type="submit"
                class="btn btn-primary"
                data-bs-dismiss="modal"
              >
                Agregar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para Eliminar Educacion -->
  <div
    *ngFor="let educacion of educacion"
    class="modal fade"
    id="eliminarEducacionModal"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    aria-labelledby="eliminarEducacionModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content fondo">
        <div class="modal-header">
          <h5 class="modal-title" id="eliminarEducacionModalLabel"></h5>
          <button
            type="button"
            class="close botonMenu"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true"
              ><img
                class="imgX"
                width="80%"
                src="../../../assets/X.svg"
                alt="X"
            /></span>
          </button>
        </div>
        <div class="modal-body">
          <p class="fs-5">
            Esta acción eliminará la educación seleccionada. ¿Desea continuar?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
            No
          </button>
          <button
            (click)="eliminarEducacion(elimEducacion.id)"
            type="button"
            class="btn btn-danger"
            data-bs-dismiss="modal"
          >
            Sí
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para editar Educacion -->
  <div
    *ngFor="let educacion of educacion"
    class="modal fade"
    id="modificarEducacionModal"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    aria-labelledby="modificarEducacionModal"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content fondo">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Editar Educacion</h5>
          <button
            type="button"
            class="close botonMenu"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true"
              ><img
                class="imgX"
                width="80%"
                src="../../../assets/X.svg"
                alt="X"
            /></span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm" [formGroup]="formEd">
            <input type="hidden" name="id" />
            <label for="titulo">Título</label><br />
            <input
              type="text"
              name="titulo"
              class="form-control"
              formControlName="titulo"
              [ngClass]="{
                'is-invalid': tituloF?.errors && tituloF?.touched,
                'is-valid': !tituloF?.errors && tituloF?.touched
              }"
              required
            />
            <div>
              <p
                class="text-danger"
                *ngIf="tituloF?.errors && tituloF?.touched"
              >
                Este campo debe contener menos de 50 caracteres
              </p>
              <p
                class="text-danger"
                *ngIf="tituloF?.hasError('required') && tituloF?.touched"
              >
                Este campo es requerido
              </p>
            </div>
            <label for="lugarEstudio">Lugar de estudio</label><br />
            <input
              type="text"
              name="lugarEstudio"
              class="form-control"
              formControlName="lugarEstudio"
              [ngClass]="{
                'is-invalid': lugarEstudioF?.errors && lugarEstudioF?.touched,
                'is-valid': !lugarEstudioF?.errors && lugarEstudioF?.touched
              }"
              required
            />
            <div>
              <p
                class="text-danger"
                *ngIf="lugarEstudioF?.errors && lugarEstudioF?.touched"
              >
                Este campo debe contener menos de 100 caracteres
              </p>
              <p
                class="text-danger"
                *ngIf="
                  lugarEstudioF?.hasError('required') && lugarEstudioF?.touched
                "
              >
                Este campo es requerido
              </p>
            </div>
            <label for="fechInicio">Fecha de Inicio</label><br />
            <input
              type="month"
              name="fechaInicio"
              class="form-control"
              formControlName="fechaInicio"
              [ngClass]="{
                'is-invalid': FechaInicioF?.errors && FechaInicioF?.touched,
                'is-valid': !FechaInicioF?.errors && FechaInicioF?.touched
              }"
              required
            />
            <div>
              <p
                class="text-danger"
                *ngIf="FechaInicioF?.errors && FechaInicioF?.touched"
              >
                Este campo debe contener ser una fecha con mes y año.
              </p>
              <p
                class="text-danger"
                *ngIf="
                  FechaInicioF?.hasError('required') && FechaInicioF?.touched
                "
              >
                Este campo es requerido
              </p>
            </div>
            <label for="fechaFin">Fecha de Finalización</label><br />
            <input
              type="month"
              name="fechaFin"
              class="form-control"
              formControlName="fechaFin"
              [ngClass]="{
                'is-invalid': FechaFinF?.errors && FechaFinF?.touched,
                'is-valid': !FechaFinF?.errors && FechaFinF?.touched
              }"
              required
            />
            <div>
              <p
                class="text-danger"
                *ngIf="FechaFinF?.hasError('required') && FechaFinF?.touched"
              >
                Este campo es requerido
              </p>
              <p
                class="text-danger"
                *ngIf="FechaFinF?.hasError('fechaFin') && FechaFinF?.touched"
              >
                Este campo debe contener ser una fecha con mes y año, o "ACTUAL"
              </p>
            </div>
            <label for="certificado">Certificado</label><br />
            <input
              type="text"
              name="img"
              class="form-control"
              formControlName="certificado"
            />
            <div *ngIf="CertificadoF?.errors && CertificadoF?.touched">
              <p class="text-danger">
                Este campo debe contener menos de 100 caracteres
              </p>
            </div>
            <br />
            <div class="modal-footer">
              <button
                id="modificar-educacion-modal"
                type="button"
                class="btn btn-danger"
                data-bs-dismiss="modal"
              >
                Cancelar
              </button>
              <button
                (click)="modificarEducacion(editEducacion.id, editForm.value)"
                type="button"
                class="btn btn-primary"
                data-bs-dismiss="modal"
              >
                Guardar cambios
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
