<form [formGroup]="form" (ngSubmit)="onEnviar($event)">
    <div>
        <label for="username">Usuario:</label>
        <input type="username" formControlName="username">
    </div>
    <br>
    <div>
        <label for="email">Email:</label>
        <input type="email" formControlName="email">
    </div>
    <!-- Gracias al getter que configuramos en el controlador -->
    <div *ngIf="Mail?.errors && Mail?.touched">
        <p *ngIf='Mail?.hasError("required")' class="error">
            El email es requerido.
        </p>
        <p *ngIf='Mail?.hasError("email")' class="error">
            El formato del email debe ser válido.
        </p>
    </div>
    <br>
    <div>
        <label for="exampleInputPassword1" class="form-label">Password:</label>
        <input type="password" formControlName="password" [class.boder-danger]="MailValid">
    </div>
     <!-- Gracias al getter que configuramos en el controlador -->
     <div *ngIf="Password?.errors  && Password?.touched">
        <p *ngIf="Password?.hasError('required')" class="error">
          El password es requerido.
        </p>
        <p class="error">
          El password debe ser de 8 o más caracteres.
        </p>
      </div>
    <br>
    <div>
        <button type="submit">Iniciar Sesión</button>
    </div>
</form>

