 <!-- Navbar -->
 <div>
    <nav class="navbar navbar-expand-lg bordeInf">
      <div class="container-fluid">
        <a class="navbar-brand width" href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">
          <img class="width" src="./../assets/Logo-Arg-Prog.png" alt="Argentina Programa"
        /></a>
        <p class="yoprog">#YoProgramo</p>
        <div class="navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0 ulnav">
            <li class="nav-item b">
              <a [routerLink]="['Inicio']">Inicio</a>
            </li>
            <li class="nav-item b a">
              <a [routerLink]="['Exp-Laboral']">Exp.Laboral</a>
            </li>
            <li class="nav-item b a">
              <a [routerLink]="['Educacion']">Educación</a>
            </li>
            <li class="nav-item b a">
              <a [routerLink]="['Habilidades']">Habilidades</a>
            </li>
            <li class="nav-item b a">
              <a [routerLink]="['Proyectos']">Proyectos</a>
            </li>
          </ul>
          <a [href]="bbdd.github">
            <img class="tamR" src="./../assets/GitHubIcon.svg" alt="GitHub"
          /></a>
          <a [href]="bbdd.instagram">
            <img class="tamR"src="./../assets/InstagramIcon.svg" alt="Instagram"
          /></a>
          <a [href]="bbdd.linkedin">
            <img
              class="me-2 tamR"
              src="./../assets/LinkedinIcon.svg"
              alt="Linkedin"
          /></a>
          <button
            (click)="openModal()"
            class="btn btn-outline-light fs-6 fw-semibold"
            data-bs-toggle="modal" data-bs-target="#Login"
            type="button"
          >
            LOGIN
          </button><!--<a [routerLink]="['Login']"></a>-->
        </div>
      </div>
    </nav>
  </div>

  <div class="" *ngIf="modalSwitch == true">
    
    <app-login></app-login>

  </div>

 
 